.SinB {
  border-radius: 0px;
}

.SinP {
  padding: 0;
}

.btn-danger {
  background: #ff0000;
}

.danger {
  background: #ff0000;
  color: #fff;
}

.btn-info {
  background: #00a3bb;
}

.btn-outline-secondary {
  color: #000;
  background-color: transparent;
  border-color: transparent;
  padding: 0;
}

.btn-outline-secondary:hover {
  color: #000;
  background-color: transparent;
  border: solid 2px #6c757d;
}

.btn-success1 {
  background: #0f4f08;
  color: #fff;
}

.btn-success {
  background: #37ae2b;
}

.success {
  background: #37ae2b;
  color: #fff;
}

.btn-cotizar {
  background: #114c90;
  color: #fff;
}

.btn-agotado {
  background: #d2d2d2;
  border-color: #000;
}

.gris {
  background: #f3f4f6;
}

.naranja {
  background: #ff9000;
  color: #fff;
}

.sombra {
  text-shadow: 2px 2px #3f4140;
}

.cardEntregado {
  background: #f0f0f0b3;
  padding: 0;
}

a {
  color: #ff0000;
}

.card {
  border-radius: 0;
  border: solid 1px #a8a6a6;
}

.pointer {
  cursor: pointer;
}

.text-circle {
  color: #ff0000;
  float: right;
}

.icon {
  color: #000;
  background: #bdbdbd;
  padding: 10px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  text-align: center;
}

.iconRedes {
  background: #c82228;
  color: #fff;
  padding: 10px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  text-align: center;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #ff0000;
}

.navbar-light .navbar-nav .nav-link {
  color: #ff0000;
}

.nav-tabs .nav-link.active {
  background: #ff0000;
  color: #fff;
}

.contacto {
  background: red;
  padding: 5px;
  color: #fff;
  width: 50%;
}

.form-control {
  background-color: #e0e0e0;
}

textarea {
  background-color: #e0e0e0;
}

.flotante {
  margin-bottom: -50px;
}

#footer {
  background: #d3d1d1;
  margin-left: 2em;
  margin-right: 2em;
}

#footer img {
  float: right;
}

/*----tabs----*/

.nav-pills .nav-link {
  border-radius: 0;
}

.nav-pills .nav-link.active {
  background: #e30000;
}

.fa,
.fas,
.far,
.fal,
.fab {
  display: flex;
  justify-content: center;
  align-items: center;
}

.media-body {
  -ms-flex: 1;
  flex: 1;
  display: flex;
  align-items: center;
  height: 40px;
}

/*----fin-tabs----*/

.banner {
  height: 500px;
  background-image: url("./../img/header.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

.anchoResponsive {
  width: 100%;
}

.bottom-banner {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background: #d2952999;
}

.img-box img {
  width: 100%;
}

/* mobile */

@media (max-width: 991px) {
  footer {
    text-align: center;
  }
  .iconRedes {
    height: 30px;
    width: 30px;
  }
  .navbar {
    display: flex;
    justify-content: flex-end !important;
  }
}

@media (max-width: 767px) {
  .navbar {
    display: flex;
    justify-content: flex-end !important;
    min-height: 80px;
    padding-top: 35px;
  }
  .iconos {
    width: 100px;
    position: absolute;
    top: 0px;
    right: 25px;
  }
  .navbar-brand {
    position: absolute;
  }
  .navbar-brand img {
    width: 150px;
  }
  .img-box {
    height: 250px;
    overflow: hidden;
  }
  .img-box img {
    margin-top: -100px;
  }
}